<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<script src="js/soundmanager2.js"></script>
	<script src="js/core.js"></script>
	<script src="js/viewport.js"></script>
	<script src="js/timer.js"></script>
	<script src="js/game.js"></script>
	<script src="js/entity.js"></script>
	<script src="js/assetMgr.js"></script>
	<script src="js/animation.js"></script>
	<script src="js/player.js"></script>
	<script src="js/level.js"></script>

</head>

<body bgcolor="black">

	{{{ body }}}

	<script src="js/startup.js"></script>

</body>
</html>